<!DOCTYPE html>
<html>
<head>
  <title>Zomato - Restaurants in your city.</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Welcome to Zomato, Browse Restaurants in Your Location</h1>
<%= yield %>

</body>
</html>
